# Auto detect text files and perform LF normalization
* text=auto
*.wig filter=lfs diff=lfs merge=lfs -text
*.bed filter=lfs diff=lfs merge=lfs -text
*.bigwig filter=lfs diff=lfs merge=lfs -text
*.bw filter=lfs diff=lfs merge=lfs -text
*.wig.gz filter=lfs diff=lfs merge=lfs -text
*.bed.gz filter=lfs diff=lfs merge=lfs -text
